---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog about learning Astro tricks";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Blogging slowly thru the astro tutorial...</h2>
  <p>
    Progress so far: <a href='https://docs.astro.build/en/tutorial/2-pages/2/'
      >Write your first Markdown blog post</a
    >
  </p>
  <p>
    In these markdown blog posts the ugly bug <br /><a
      href='https://github.com/withastro/astro/issues/2187'>
      <i
        >Raw markdown page incorrectly encodes some characters, e.g. ' becomes
        ’</i
      >
    </a>
    <br /> manifests itself (in astro dev only, not in a built site).
  </p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
