---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Blog</title>
  </head>
  <body>
    <a href='/'>Home</a><br />
    <a href='/about'>About</a><br />
    <a href='/blog'>Blog</a><br />
    <h1>My Blog Page</h1>
    <h2>Blogging slowly thru the astro tutorial...</h2>
  </body>
</html>
