---
import {getCollection} from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Blog about learning Astro tricks";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Blogging slowly thru the astro tutorial...</h2>
  <p>
    Progress so far: <a href='https://docs.astro.build/en/tutorial/2-pages/2/'
      >Write your first Markdown blog post</a
    >
  </p>

  <h2>Here is the list of blog posts:</h2>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
