---
import Social from "./Social.astro";

const platform = "github";
const username = "rudifa";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p><br />
  <p>
    <Social platform='twitter' username='astrodotbuild' />
    <Social platform='github' username='withastro' />
    <Social platform='twitter' username='rudifa' />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
