---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import "../styles/global.css";
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
